.home
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.footer
    display: flex
    flex-direction: column
    width: 600px
    justify-content: center
    margin-top: 100px
    @media (max-width: 768px)
        width: 400px
    @media (max-width: 450px)
        width: 100%
        padding: 0 20px
        align-items: center
        text-align: center

.footer-sub
    display: flex
    flex-direction: row
    justify-content: space-between
    @media (max-width: 450px)
        padding: 0 20px
        flex-direction: column
        align-items: center

    .footer-title
        color: #323232
        font-weight: bold
        font-size: 2em
        font-family: "Raleway", sans-serif
        text-transform: uppercase
        letter-spacing: 0.05em

    .footer-sub-title
        font-weight: 200

        color: rgb(72, 184, 210)
        font-family: inherit
        text-transform: uppercase
        letter-spacing: 0.05em
        font-size: 1.54em

    .footer-text
        color: rgb(0, 0, 0)
        font-family: inherit
        ont-size: 12px
        font-weight: 200
    .footer-contact
        display: flex
        flex-direction: column
        gap: 18px
        .contact
            text-decoration: none
            font-size: 16px
            font-weight: 500
            color: #323232
